:root {
  --primary-text-color: #4d5ae5;
  --headings-color: #2e2f42;
  --text-color: #434455;
  --background-color: #ffffff;
  --lightmode-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --accent-color: #e7e9fc;
  --customers-color: #8e8f99;
  --success-color: #31d0aa;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  /* width: 1158px; */
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* ------------------Header-------------- */
.page-header {
  border-bottom: 1px solid var(--accent-color);
}
.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-navy {
  color: var(--headings-color);
}
.page-nav {
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 76px;
}
.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list li:not(:last-child) {
  margin-right: 40px;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: flex;
}
.contact-list li:not(:last-child) {
  margin-right: 40px;
}
.contact {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus {
  color: var(--pressed-state-color);
}
.current {
  position: relative;
  color: var(--pressed-state-color);
}
.current::after {
  position: absolute;
  left: 0;
  top: 69px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}
/* -------------Main Studio-------------------- */
.hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: var(--headings-color);
}
.hero-title {
  width: 496px;
  margin: 0 auto;

  color: var(--background-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  text-align: center;
  margin-top: 48px;

  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  padding: 96px 0;
}
.adv-list {
  /* display: flex; */
}
.adv-list li {
  /* width: 264px; */
  flex-basis: 100%;
}
.adv-list li:not(:last-child) {
  /* margin-right: 24px; */
  margin-bottom: 72px;
}
.adv-icon-block {
  height: 112px;
  background-color: var(--lightmode-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.adv-title {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-align: center;
}
.adv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.work {
  padding-bottom: 120px;
}
.work-title {
  margin-bottom: 72px;

  color: var(--headings-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.work-list {
  display: flex;
}
.work-list li:not(:last-child) {
  margin-right: 24px;
}
.team {
  background-color: var(--lightmode-color);
  /* padding: 120px 0; */
  padding: 96px 0;
}
.team-list {
  /* display: flex; */
}
.team-card {
  background-color: var(--background-color);
  /* margin-right: 24px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}
.team-card:last-child {
  margin-bottom: 0;
}
.team-card-block {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-name {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-position {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-item:not(:last-child) {
  margin-right: 24px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:active {
  background-color: var(--pressed-state-color);
}
.team-soc-icon {
  fill: var(--lightmode-color);
}

/* ----------------Customers------------- */
.customers {
  /* padding: 120px 0; */
  padding: 96px 0;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}
.custom-item {
  max-width: 190px;
  height: 88px;
}
/* .custom-item:not(:last-child) {
  margin-right: 24px;
} */
.custom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-color);
  border-radius: 4px;

  transition-property: border color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-link:hover {
  border: 1px solid var(--pressed-state-color);
}
.custom-link:hover > .custom-icon {
  fill: var(--pressed-state-color);
}
.custom-icon {
  fill: var(--customers-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------Main Portfolio------------- */
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.filter li:not(:last-child) {
  margin-right: 24px;
}
.filter-btn {
  padding: 12px 24px;
  border: 1 px solid var(--accent-color);
  border-radius: 4px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--lightmode-color);
  font-family: inherit;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:active,
.filter-btn:focus {
  color: var(--background-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-right: 24px;
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover,
.card:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-border {
  border: 1px solid var(--accent-color);
  border-top: none;
}
.card-title {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-text {
  padding-bottom: 32px;
  padding-left: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-overlay {
  position: relative;
  overflow: hidden;
}
.card-overlay-text {
  position: absolute;
  top: 0;

  color: var(--lightmode-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-text-color);
  padding: 40px 32px 164px;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card .link {
  display: block;
}
.card .link:hover .card-overlay-text,
.card .link:focus .card-overlay-text {
  transform: translateY(0);
}
/* ------------Footer---------------- */
.footer-block {
  display: flex;
}
.footer-slogan {
  margin-top: 16px;
  width: 264px;

  color: var(--lightmode-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--headings-color);
  padding: 100px 0;
}
.logo-cloud {
  color: var(--lightmode-color);
}
.footer-slogan-block {
  margin-right: 120px;
}
.footer-social-title {
  color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-item:not(:last-child) {
  margin-right: 16px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-text-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:active {
  background-color: var(--success-color);
}
.footer-soc-icon {
  fill: var(--lightmode-color);
}
.footer-subscribe-block {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--headings-color);
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.footer-subscribe-input,
.footer-subscribe-input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-left: 24px;
  background-color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  color: var(--background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--pressed-state-color);
}

/* ----------------Modal--------------------- */
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);

  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) scaleX(1.1) rotate(-90deg);
}
.modal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  height: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close-btn:active {
  background-color: var(--pressed-state-color);
}
.modal-close-icon {
  fill: var(--headings-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--headings-color);
  margin-bottom: 16px;
}
.modal-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  color: var(--headings-color);
  font-size: 12px;
  outline: transparent;
  margin-bottom: 16px;
}
.modal-textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  color: var(--headings-color);
  font-size: 12px;
  outline: transparent;
}
.span-input {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--customers-color);
  margin-bottom: 4px;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.modal-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrap {
  position: relative;
  margin-bottom: 8px;
  display: block;
}
.input-wrap:focus-within .modal-icon {
  fill: var(--primary-text-color);
}
.input-wrap:focus-within .modal-input,
.modal-textarea:focus {
  border-color: var(--primary-text-color);
}

.modal-field {
  margin-bottom: 24px;
}
.check-text {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}
.check-text a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  margin-left: 4px;
}
.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--lightmode-color);
}
.input-check:focus + .check-text span {
  border-color: var(--primary-text-color);
}
.modal-btn {
  display: inline-block;
  border: none;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background: var(--primary-text-color);

  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--background-color);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .adv-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
@media screen and (max-width: 767px) {
  .custom-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .team-card {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .adv-list li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .adv-list li:nth-last-child(2) {
    margin-bottom: 0;
  }
  .adv-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team {
    padding: 120px 0;
  }
  .adv-list li {
    flex-basis: calc((100% - 72px) / 4);
  }
  .adv-list li:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .advantages {
    padding: 120px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team > .container {
    width: 582px;
  }
}

@media screen and (max-width: 1157px) {
  .work {
    display: none;
  }
  .adv-icon-block {
    display: none;
  }
}
